/* a{color: rgb(70, 130, 180);}

a:focus{outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px;}

a:not(:hover){text-decoration: none;}
 */

h4 {
  font-size: 17.5px;
}

header {
  width: 100%;
  z-index: 99;
}

header #logo {
  color: rgb(255, 255, 255);
  float: left;
  padding: 15px 0px;
  margin-left: 20px;
  transition: font-size 200ms ease-out 100ms;
}

header #logo a {
  width: 96px;
  height: 30px;
  text-indent: -9999px;
  display: block;
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0s;
}

header #logo:hover {
  opacity: 1;
  font-size: 141%;
}

header.sticky-nav {
  position: relative;
  width: 100%;
  height: 60px;
  z-index: 1001;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px;
}

header .dark {
  background: rgb(38, 41, 46);
}
header .light {
  background: whitesmoke;
}
