
  /* @font-face {
    font-family: 'Datalegreya-Dot';
    src: url('/Datalegreya-Dot.otf');
    font-weight: normal;
    font-style: normal;
  } */




  .logo {
    font-family: Datalegreya-Dot;
    -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
    -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
    -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
    -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
    font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
    font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 1px !important;
    float: left;
  }

  
  danheader {
    top: 0;
    display: block;
    text-rendering: optimizelegibility;
  }

 
  :global(a:hover){
    color:#4856fd!important;
  }
 



  .material-symbols-outlined{transition: font-size 200ms ease-out 100ms}
  /* a.material-symbols-outlined:hover{opacity: 1;font-size:190%!important} */


:global(main){
  max-width:none;
  width:100%
}
  .sticky-nav:not(nav) {
    left: 0 !important;
    /* position:absoulte; */
    margin-left: 0;
    padding-left: 0;
    width: 100vw;
    
    /* position: relative; */
  }
#logo{
    font-family: Datalegreya-Dot;
    font-size: 3.2em !important;
    /* bottom:-1px; */
    text-align: baseline;
    position:absolute;
  }
a div#logo:hover{
  /* font-size: 3.1em!important; */
  color:rgb(4, 183, 240)!important;
}


  :global(html) {
    scroll-behavior: smooth;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  }